PORT=5000
CLIENT_URL=your_client_url_here
MONGODB_URI=your_mongodb_uri_here
JWT_SECRET=your_jwt_secret_here
RAZORPAY_KEY_ID=your_razorpay_key_id_here
RAZORPAY_KEY_SECRET=your_razorpay_key_secret_here

NXTWAVE_PRIME_USERNAME=rahul
NXTWAVE_PRIME_PASSWORD=rahul@2021
NXTWAVE_FREE_USERNAME=raja
NXTWAVE_FREE_PASSWORD=raja@2021